.owl-carousel(
data-items='1'
data-md-items='2'
data-dots='true'
data-nav='false'
data-loop='true'
data-margin='30'
data-stage-padding='0'
data-mouse-drag="false")
	.wow-outer: blockquote.quote-modern.quote-modern-big.wow.slideInLeft
		+quote-mark.quote-modern-mark
		.quote-modern-text
			p We selected R&CO because of their architects’ rigorous design background and education. They exceeded our expectations and emerged as leaders of our project.
		.quote-modern-meta
			.quote-modern-avatar: +jpg('testimonials-person-3-96x96')
			.quote-modern-info
				cite.quote-modern-cite Albert Webb
				p.quote-modern-caption Regular Client

	.wow-outer: blockquote.quote-modern.quote-modern-big.wow.slideInLeft
		+quote-mark.quote-modern-mark
		.quote-modern-text
			p When we needed design and architecture specialists, your team was there for us. You took all our ideas and demands into consideration and made a great project.
		.quote-modern-meta
			.quote-modern-avatar: +jpg('testimonials-person-1-96x96')
			.quote-modern-info
				cite.quote-modern-cite Kelly McMillan
				p.quote-modern-caption Regular Client

	.wow-outer: blockquote.quote-modern.quote-modern-big.wow.slideInLeft
		+quote-mark.quote-modern-mark
		.quote-modern-text
			p I have worked with many architecture companies offering design & construction services, and out of all you were one who really stood out from the rest.


		.quote-modern-meta
			.quote-modern-avatar: +jpg('testimonials-person-2-96x96')
			.quote-modern-info
				cite.quote-modern-cite Sam Wilson
				p.quote-modern-caption Regular Client

	.wow-outer: blockquote.quote-modern.quote-modern-big.wow.slideInLeft
		+quote-mark.quote-modern-mark
		.quote-modern-text
			p Working with your team was a pleasure. You balanced the architectural vision and the project realities beautifully and had a deep understanding of our priorities.
		.quote-modern-meta
			.quote-modern-avatar: +jpg('testimonials-person-5-96x96')
			.quote-modern-info
				cite.quote-modern-cite Harold Barnett
				p.quote-modern-caption Regular Client
