.slick-widget-testimonials.wow.fadeIn
	.slick-slider.carousel-child#child-carousel(
	data-for='.carousel-parent'
	data-arrows='true'
	data-loop='true'
	data-dots='false'
	data-swipe='true'
	data-items='1'
	data-sm-items='3'
	data-md-items='5'
	data-lg-items='5'
	data-xl-items='5'
	data-center-mode='true'
	data-slide-to-scroll='1')
		.item.wow-outer: +jpg('testimonials-person-1-96x96').wow.slideInLeft
		.item.wow-outer: +jpg('testimonials-person-2-96x96').wow.slideInLeft
		.item.wow-outer: +jpg('testimonials-person-3-96x96').wow.slideInLeft
		.item.wow-outer: +jpg('testimonials-person-4-96x96').wow.slideInLeft
		.item.wow-outer: +jpg('testimonials-person-5-96x96').wow.slideInLeft
		.item.wow-outer: +jpg('testimonials-person-3-96x96').wow.slideInLeft


	// Slick Carousel
	.slick-slider.carousel-parent(
	data-arrows='false'
	data-loop='true'
	data-dots='false'
	data-swipe='false'
	data-items='1'
	data-fade='true'
	data-child='#child-carousel'
	data-for='#child-carousel')
		.item
			// Quote Light 1
			blockquote.quote-light
				cite.quote-light-cite Kelly McMillan
				p.quote-light-caption Regular Client
				+quote-mark.quote-light-mark
				.quote-light-text: p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
				.quote-light-footer: +png('logo-the-oldbrand-83x64', 'quote-light-image')

		.item
			// Quote Light 2
			blockquote.quote-light
				cite.quote-light-cite Harold Barnett
				p.quote-light-caption Regular Client
				+quote-mark.quote-light-mark
				.quote-light-text: p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				.quote-light-footer: +png('logo-havana-kabana-96x64', 'quote-light-image')

		.item
			// Quote Light 3
			blockquote.quote-light
				cite.quote-light-cite Albert Webb
				p.quote-light-caption Regular Client
				+quote-mark.quote-light-mark
				.quote-light-text: p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco .Ut enim ad minim veniam, quis nostrud exercitation ullamco.
				.quote-light-footer: +png('logo-majestic-104x64', 'quote-light-image')

		.item
			// Quote Light 4 
			blockquote.quote-light
				cite.quote-light-cite Samantha Lee
				p.quote-light-caption Regular Client
				+quote-mark.quote-light-mark
				.quote-light-text: p Ipsum dolor sit veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat . Excepteur cupidatat non proident, sunt in culpa qui officia deserunt , quis nostrud exercitation ullamco.
				.quote-light-footer: +png('logo-hillplan-84x64', 'quote-light-image')

		.item
			// Quote Light 5
			blockquote.quote-light
				cite.quote-light-cite Bill Warner
				p.quote-light-caption Regular Client
				+quote-mark.quote-light-mark
				.quote-light-text: p Venim ad minim veniam, quis nostrud exercitation ullamco, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
				.quote-light-footer: +png('logo-brownie-103x61', 'quote-light-image')

		.item
			// Quote Light 3
			blockquote.quote-light
				cite.quote-light-cite Albert Webb
				p.quote-light-caption Regular Client
				+quote-mark.quote-light-mark
				.quote-light-text: p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Ut enim ad minim veniam, quis nostrud exercitation ullamco.
				.quote-light-footer: +png('logo-majestic-104x64', 'quote-light-image')


							
