section.section.swiper-container.swiper-slider.swiper-slider-business.bg-gray-700(
	data-loop='true'
	data-slide-effect='fade'
	data-autoplay='5000'
	data-simulate-touch='false'
	data-custom-slide-effect='inter-leave-effect'
)
	.swiper-wrapper
		.swiper-slide(data-slide-bg='images/slider-architecture-slide-1-1920x800.jpg'): .slide-inner: .swiper-slide-caption
			.container
				time.slider-timeline.wow-outer.slideInDown.text-uppercase(datetime='2022'): span.wow(data-caption-animate='slideInDown' data-wow-delay=".5	s") April 2022
				h1.font-condensed.wow-outer.fw-bold: span.wow(data-caption-animate='slideInDown')
					|Hearst Business
					br
					|Center
				.wow-outer.offset-top-1
					a.button.button-lg.button-white-outline.button-winona.wow(href='about-us.html' data-caption-animate='slideInUp') view project

		.swiper-slide(data-slide-bg='images/slider-architecture-slide-2-1920x800.jpg'): .slide-inner: .swiper-slide-caption
			.container
				time.slider-timeline.wow-outer.slideInDown.text-uppercase(datetime='2022'): span.wow(data-caption-animate='slideInDown' data-wow-delay=".5	s") April 2022
				h1.font-condensed.wow-outer.fw-bold: span.wow(data-caption-animate='slideInDown')
					|Los Angeles
					br
					| Kindergarten
				.wow-outer.offset-top-1
					a.button.button-lg.button-white-outline.button-winona.wow(href='about-us.html' data-caption-animate='slideInUp') view project

		.swiper-slide(data-slide-bg='images/slider-architecture-slide-3-1920x800.jpg'): .slide-inner: .swiper-slide-caption
			.container
				time.slider-timeline.wow-outer.slideInDown.text-uppercase(datetime='2022'): span.wow(data-caption-animate='slideInDown' data-wow-delay=".5	s") April 2022
				h1.font-condensed.wow-outer.fw-bold: span.wow(data-caption-animate='slideInDown')
					|Eastwood Hotel
					br
					|and Spa
				.wow-outer.offset-top-1
					a.button.button-lg.button-white-outline.button-winona.wow(href='about-us.html' data-caption-animate='slideInUp') view project

		.swiper-slide(data-slide-bg='images/slider-architecture-slide-4-1920x800.jpg'): .slide-inner: .swiper-slide-caption
			.container
				time.slider-timeline.wow-outer.slideInDown.text-uppercase(datetime='2022'): span.wow(data-caption-animate='slideInDown' data-wow-delay=".5	s") April 2022
				h1.font-condensed.wow-outer.fw-bold: span.wow(data-caption-animate='slideInDown')
					|National Culture
					br
					|Museum
				.wow-outer.offset-top-1
					a.button.button-lg.button-white-outline.button-winona.wow(href='about-us.html' data-caption-animate='slideInUp') view project

	.swiper-slider-nav.container
		.swiper-button-prev
		.swiper-button-next
