section.section.section-sm.text-center
	.container
		// Owl Carousel
		.owl-carousel.owl-carousel-1(
		data-items='2'
		data-sm-items='3'
		data-md-items='4'
		data-lg-items='5'
		data-dots='true'
		data-nav='false'
		data-stage-padding='0'
		data-loop='true'
		data-margin='30'
		data-mouse-drag="false")
			.item.wow-outer: .wow.slideInLeft: a.link-image(href='#'): +png('logo-john-brad-135x87')
			.item.wow-outer: .wow.slideInLeft(data-wow-delay='.05s'): a.link-image(href='#'): +png('logo-the-oldbrand-134x104')
			.item.wow-outer: .wow.slideInLeft(data-wow-delay='.1s'): a.link-image(href='#'): +png('logo-havana-cabana-132x87')
			.item.wow-outer: .wow.slideInLeft(data-wow-delay='.15s'): a.link-image(href='#'): +png('logo-brownie-143x85')
			.item.wow-outer: .wow.slideInLeft(data-wow-delay='.2s'): a.link-image(href='#'): +png('logo-hillplan-111x85')
